### Import package and onnect to a SQL database.

In [1]:
from os import getenv
from dotenv import load_dotenv
from mssql_python import connect

load_dotenv()
conn = connect(getenv("SQL_CONNECTION_STRING"))

### Execute a query

In [2]:
SQL_QUERY = """
SELECT * FROM [dbo].[PerCapitaPersonalIncome];
"""

# Use cursor.execute to retrieve a result set from a query against the database.
cursor = conn.cursor()
cursor.execute(SQL_QUERY)

# Use cursor.fetchall with a foreach loop to get all the records from the database. Then print the records.

records = cursor.fetchall()
for r in records:
    # print the entire row; you can replace this with index-based access if desired
    print(r)

(2013, 51880.00, 33017.00, 56776.00, 39910.00, 50262.00, 52699.00, 38922.00, 51272.00, 40384.00, 49520.00, 38609.00, 51036.00, 36014.00, 48378.00, 67183.00, 47548.00, 72296.00, 41436.00, 52996.00, 27472.00, 49188.00, 59495.00, 38715.00, 35215.00, 47114.00)
(2014, 53084.00, 34736.00, 58365.00, 41963.00, 51577.00, 54038.00, 39963.00, 53025.00, 41083.00, 50157.00, 39505.00, 52328.00, 38717.00, 50033.00, 68133.00, 49822.00, 73009.00, 41859.00, 54706.00, 28917.00, 50355.00, 61431.00, 40049.00, 37096.00, 48659.00)
(2015, 55041.00, 35730.00, 60207.00, 43898.00, 53029.00, 56469.00, 40828.00, 55190.00, 42619.00, 51734.00, 40619.00, 53747.00, 39381.00, 51588.00, 69530.00, 51640.00, 76987.00, 42714.00, 56402.00, 30064.00, 52185.00, 63704.00, 41130.00, 38461.00, 52995.00)
(2016, 56614.00, 37532.00, 61667.00, 45271.00, 53894.00, 57748.00, 41882.00, 56627.00, 43736.00, 52977.00, 41147.00, 55841.00, 40443.00, 53250.00, 71002.00, 53104.00, 80230.00, 43585.00, 59393.00, 29536.00, 53238.00, 65325.00, 42077.00, 38472.00, 52640.00)
(2017, 58251.00, 38590.00, 63346.00, 46787.00, 55677.00, 59271.00, 43893.00, 58636.00, 45066.00, 54091.00, 42828.00, 57705.00, 41222.00, 55087.00, 73049.00, 55942.00, 82175.00, 44600.00, 61992.00, 30815.00, 54151.00, 66408.00, 42968.00, 39691.00, 54627.00)
(2018, 59919.00, 40117.00, 65309.00, 49059.00, 57505.00, 60978.00, 44792.00, 59744.00, 47039.00, 54897.00, 44032.00, 59773.00, 43570.00, 56658.00, 74479.00, 58110.00, 83790.00, 45909.00, 63612.00, 30871.00, 56222.00, 68562.00, 44614.00, 40087.00, 55311.00)
(2019, 61725.00, 41527.00, 67527.00, 49861.00, 60605.00, 63356.00, 46204.00, 61819.00, 48889.00, 56347.00, 46006.00, 61878.00, 45834.00, 58965.00, 77343.00, 58929.00, 84805.00, 47116.00, 67826.00, 31310.00, 58400.00, 73957.00, 45840.00, 40228.00, 56374.00)
(2020, 64884.00, 45223.00, 72136.00, 53960.00, 63856.00, 66855.00, 47923.00, 64867.00, 52230.00, 59939.00, 49229.00, 64789.00, 49023.00, 62309.00, 81185.00, 63125.00, 85530.00, 50906.00, 70505.00, 32926.00, 61911.00, 78501.00, 49031.00, 43350.00, 59450.00)
(2021, 69081.00, 47462.00, 77764.00, 58764.00, 67143.00, 68843.00, 54180.00, 69623.00, 55614.00, 62048.00, 55579.00, 69770.00, 53377.00, 66466.00, 86486.00, 69328.00, 90696.00, 53353.00, 77455.00, 36982.00, 64999.00, 84902.00, 53079.00, 46638.00, 64317.00)
(2022, 71340.00, 46913.00, 79335.00, 60799.00, 70461.00, 71427.00, 56902.00, 70695.00, 56261.00, 63063.00, 55896.00, 71670.00, 53861.00, 67325.00, 90055.00, 72498.00, 94474.00, 54605.00, 79258.00, 40018.00, 66497.00, 91670.00, 53502.00, 47904.00, 66552.00)
(2023, 75391.00, 49182.00, 84019.00, 64357.00, 74738.00, 76018.00, 56447.00, 74895.00, 59373.00, 66642.00, 57060.00, 76664.00, 57525.00, 71196.00, 95529.00, 77025.00, 100044.00, 57096.00, 83650.00, 37345.00, 70353.00, 98166.00, 56174.00, 48596.00, 68163.00)

In [ ]:

from mssql_python import connect

async with connect('connection_string') as conn:
    async with conn.cursor() as cursor:
        await cursor.execute('SELECT TOP 10 * FROM Customers')
        results = await cursor.fetchall()

ConnectionStringParseError: Connection string parsing failed:
  Incomplete specification: keyword 'connection_string' has no value (missing '=')